

.about {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  /* text-align: center; */
  width: 35%;
  /* border: 1px solid rgb(67, 22, 68); */
  /* background-color: #4c598f; */
  background-image: linear-gradient(45deg, #4d5fa5, #5f75c7);
  box-shadow: -16px 16px 25px 7px #46517d, 16px -16px 25px 7px #6883e6;
  align-self: center;
  padding: 3rem;
  border-radius: 30px;
  font-size: 20px;
  margin: 6rem ;

}

.about h2 {
  text-align: center;
  color: aqua;
  font-weight: normal;
  margin: 0;
}

.about p {
  color: white;
  line-height: 30px;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}

.skills h3 {
  color: aqua;
  margin-top: 3rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}

 .skills ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: sans-serif;
  margin: 1rem;
}

li img {
  margin: 9px;
  height: 4rem;
}