/* body {
  display: grid;
  justify-content: center;
} */

.about {
  display: none;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 35%;
  border: 1px solid black;
  align-self: center;
  padding: 1rem;
  border-radius: 30px;
  font-size: 20px;
}

.about h2 {
  text-align: end;
  margin: 0;
}

h2 i {
  margin: 10px;
}

.about p {
  color: white;
  line-height: 30px;
}