.contact {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* text-align: center; */
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 1rem 2rem;
  color: aqua;
}

/* .form .exit {
  text-align: end;
  margin: 0;
}

.exit i {
  margin: 10px;
} */



.options {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 4rem;
}

.options .card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* text-align: center; */
}

.card p {
  margin: 1rem;
  text-align: initial;
}

.card p a {
  font-family: sans-serif;
}

.card h1 {
  color: rgb(255, 255, 255);
}