
.container {
  display: grid;
  margin: 4rem;
  /* responsiveness */
  width: 40%;
}

.logo {
  display: grid;
  align-self: center;
  justify-content: center;
  padding: 5ch 2ch;
}

.logo img {
  width: 30vw;
}

.text {
  display: grid;
  grid-template-rows: 2fr 10fr;
  justify-self: center;
  align-self: center;
}

.nav {
  display: grid;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

ul li {
  list-style: none;
  justify-self: center;
  padding: 0 2rem;
  margin: 0 2rem;
  
}


a {
  text-decoration: none;
  font-size: clamp(10px, 2vw, 30px);
  color: #fff700;
  padding: 0 15px;
  border-radius: 10px;
  transition: all 0.05s ease-in-out;




}

/* a:hover {
  background: linear-gradient(42deg, #d7dde6, #a7a8ab);
  box-shadow: inset 1px 4px 27px -2px #dad5d5, inset -11px 11px 17px -2px #909090;
  text-shadow: 1px -1px 1px #fff700, -3px 2px 4px #8c8802;
  color: #ffffff4d;
  transform: translateY(-3px);
  transition: all 0.05s ease-in-out;
} */

a:hover {
    /* background: linear-gradient(42deg, #d7dde6, #a7a8ab); */
  /* box-shadow: inset 1px 4px 27px -2px #dad5d5, inset -11px 11px 17px -2px #909090; */
  text-shadow: 1px -1px 1px #00ffff, -3px 2px 4px #02738c;
  color: #ffffff4d;
  transform: translateY(-3px);
  transition: all 0.05s ease-in-out;
  /* border: 1px solid #b9babd; */
  background-color: #7a7c86;
}

.message {
  display: grid;
  align-content: center;
  grid-template-rows: 3fr 1fr;
}

.tagline {
  justify-self: center;
}

.tagline h1 {
  font-size: clamp(30px, 5vw, 100px);
  margin: 0;
  color: #05f0ff;
  font-weight: 700;
  -webkit-text-stroke: 2px black;
}

.project {
  display: grid;
  justify-content: center;
  align-content: center;
}


