
.container {
  display: flex;
  justify-content: center;
  margin: 10rem 0 7rem 0;
  /* responsiveness */
  /* width: 40%; */
}

.logo {
  display: flex;

  justify-content: center;
  /* padding: 5ch 2ch; */
}

.logo img {
  width: 30vw;
  margin: 0 3rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: #3e4c82;
}

.nav .name a{
  display: flex;
  flex-direction: row;
}

.nav .name h1{

  font-family: sans-serif;
  font-weight: normal;
  color: #00ffff;
  font-size: clamp(10px, 2vw, 25px);
  letter-spacing: 5px;
}

.nav h1:hover {
  /* transition: ease-in-out; */
  color: #02738c;
}

.nav ul {
  display: flex;
  padding: 0;
}

ul li {

  list-style: none;
  /* justify-self: center; */
  /* padding: 0 2rem; */
  margin: 0 20px;
  
}


a {
  text-decoration: none;
  font-size: clamp(10px, 2vw, 20px);
  color: #fff700;
  padding: 0 15px;
  border-radius: 10px;
  transition: all 0.05s ease-in-out;




}

/* a:hover {
  background: linear-gradient(42deg, #d7dde6, #a7a8ab);
  box-shadow: inset 1px 4px 27px -2px #dad5d5, inset -11px 11px 17px -2px #909090;
  text-shadow: 1px -1px 1px #fff700, -3px 2px 4px #8c8802;
  color: #ffffff4d;
  transform: translateY(-3px);
  transition: all 0.05s ease-in-out;
} */

li a:hover {
    /* background: linear-gradient(42deg, #d7dde6, #a7a8ab); */
  /* box-shadow: inset 1px 4px 27px -2px #dad5d5, inset -11px 11px 17px -2px #909090; */
  text-shadow: 1px -1px 1px #00ffff, -3px 2px 4px #02738c;
  color: #ffffff4d;
  transform: translateY(-3px);
  transition: all 0.05s ease-in-out;
  /* border: 1px solid #b9babd; */
  /* background-color: #7a7c86; */
}

.message {
  display: flex;
  flex-direction: column;
  align-content: center;

}

/* .tagline {
  justify-self: center;
} */

.tagline h1 {
  font-size: clamp(30px, 5vw, 100px);
  margin: 0;
  color: #05f0ff;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  text-shadow: -8px 7px 11px #474c67;
}

.resume  {

  display: flex;
  align-items: center;
  justify-content: center; 

}

.resume > .button {

  width: 10rem;
  height: 3rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fff700;

}

.button > a {
  color: #047e86;
  font-weight: bold;
}


.project {
  display: flex;
  justify-content: center;
  align-content: center;
}

.project ul {
  display: flex;
  padding: 0;
}

.project a {
  font-size: clamp(10px, 2vw, 25px);
}




/* @media all and (max-width: 768px) {

  .container {
    display: none;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
  }

  
  .nav ul {
    display: flex;
    padding: 0;
  }
  
  ul li {
    list-style: none;
    justify-self: center;
    padding: 0 13px;
    margin: 0;
    
  }

  .tagline {
    margin: 2rem 0;
  }
  
  .tagline h1 {
    font-size: clamp(30px, 13vw, 100px);
    margin: 0;
    color: #05f0ff;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
  }

  a {
    font-size: clamp(10px, 5vw, 30px);
  }

} */

